-e git+https://git@github.com/openai/gym/@4d24886f20a04a6c57c580d57c4402e59941b7bb#egg=gym
-e git+ssh://git@github.com/YasmeenVH/growspace.git#egg=growspace
git+https://git@github.com/ministry-of-silly-code/experiment_buddy.git#egg=experiment_buddy
matplotlib
wandb
h5py
numpy
opencv-python
Pillow
scipy
tensorboard
tqdm
array2gif
-e git+https://github.com/openai/baselines.git#egg=baselines
comet-ml
sortedcontainers
sklearn
numba
